@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
* {
  font-family: "Signika", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(76, 76, 241);
}
.login {
  background: white;
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 10px;
}
.login h1 {
  font-size: 40px;
  margin-bottom: 25px;
}
.login form {
  font-size: 25px;
}
.login form .form-gorup {
  margin-bottom: 20px;
}
div .form-check-label {
  font-size: 20px;
}
